/* Vou ter que consertar tudo aqui depois kkk */

.menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.menu-icon {
    width: 19px;
    height: 13px;
    margin-right: 8px;
}

.arrow-icon {
    width: 14px;
    height: 13px;
    margin-left: 8px;
}

.menu-text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #3F3F3F;
    font-weight: 600;
}

.menu-suspenso {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 1070px;
    max-height: 400px;
    overflow-y: auto;
}

.menu-suspenso a {
    padding: 5px 10px;
    text-decoration: none;
}

.menu-item {
    margin-bottom: 5px;
}

.menu-item a {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.menu-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item ul li {
    margin-bottom: 5px;
}

.menu-item ul li a {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.menu-item ul li a:hover {
    color: #555;
}